@keyframes grow-up {
  from {
    transform: translateY(0) scale(1);
  }

  to {
    transform: translateY(-8px) scale(1.1);
  }
}

@keyframes zoon-in {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.07);
  }
}

header {
  width: 100%;
  position: relative;

  &::before {
    content: "";
    display: block;
    position: absolute;
    background-image: linear-gradient(to bottom, rgb(6 18 30 / 44%), #000000),
      url(../../public/assets/images/banner.png);
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 0;
    opacity: 0.9;
  }

  .header-navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .header-icons {
      display: flex;
      gap: 14px;

      a:hover {
        i {
          animation: grow-up 0.8s infinite alternate;
          color: $red-light;
        }
      }

      i {
        color: $white-normal;
      }
    }

    .header-logo {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 14px;
      width: 150px;
      height: 150px;
    }

    .header-button {
      border: 1px solid $white-normal;
      padding: 8px 24px;
      border-radius: 4px;
      color: $white-normal;
      background-color: transparent;
      transition: background-color 0.8s;

      &:hover {
        border: 1px solid $red-light;
        background-color: $red-light;
      }
    }
  }

  .header-slogan {
    color: $white-normal;
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 14px;

    h1 {
      text-align: center;
      line-height: 150%;
      max-width: 940px;
      font-size: 46px;
    }

    p {
      text-align: center;
      margin: 14px 0;
    }

    .button-contact {
      padding: 14px 20px;
      color: $white-normal;
      background-color: $red-normal;
      border: 0;
      font-size: 18px;
      font-weight: 600;
      margin: 14px 0;

      &:hover {
        animation: zoon-in 0.8s alternate infinite;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .header-content {
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    i {
      margin-top: 16px;
      font-size: 34px;
    }
  }

  .header-logo img {
    width: 160px;
    margin-top: 46px;
  }

  .header-button {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .header-slogan {
    min-height: 60vh;
  }

  h1 {
    font-size: 34px;
    padding: 0 14px;
    width: 100%;
  }

  p {
    font-size: 14px;
  }
}

@media screen and (max-width: 480px) {
  .header-slogan h1 {
    font-size: 24px;
  }
}
