* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Sora", sans-serif;
  width: 100%;
  height: 100hv;
  position: relative;
  background-color: #06121e;
}

button {
  font-family: "Sora", sans-serif;
  cursor: pointer;
}

a {
  cursor: pointer;
  text-decoration: none;
}

img {
  width: 100%;
}

svg {
  width: 100%;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 20px;
}

@keyframes grow-up {
  from {
    transform: translateY(0) scale(1);
  }
  to {
    transform: translateY(-8px) scale(1.1);
  }
}
@keyframes zoon-in {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.07);
  }
}
header {
  width: 100%;
  position: relative;
}
header::before {
  content: "";
  display: block;
  position: absolute;
  background-image: linear-gradient(to bottom, rgba(6, 18, 30, 0.44), #000000), url(../../public/assets/images/banner.png);
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 0;
  opacity: 0.9;
}
header .header-navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .header-navbar .header-icons {
  display: flex;
  gap: 14px;
}
header .header-navbar .header-icons a:hover i {
  animation: grow-up 0.8s infinite alternate;
  color: #d34040;
}
header .header-navbar .header-icons i {
  color: #fff;
}
header .header-navbar .header-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 14px;
  width: 150px;
  height: 150px;
}
header .header-navbar .header-button {
  border: 1px solid #fff;
  padding: 8px 24px;
  border-radius: 4px;
  color: #fff;
  background-color: transparent;
  transition: background-color 0.8s;
}
header .header-navbar .header-button:hover {
  border: 1px solid #d34040;
  background-color: #d34040;
}
header .header-slogan {
  color: #fff;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 14px;
}
header .header-slogan h1 {
  text-align: center;
  line-height: 150%;
  max-width: 940px;
  font-size: 46px;
}
header .header-slogan p {
  text-align: center;
  margin: 14px 0;
}
header .header-slogan .button-contact {
  padding: 14px 20px;
  color: #fff;
  background-color: #d94140;
  border: 0;
  font-size: 18px;
  font-weight: 600;
  margin: 14px 0;
}
header .header-slogan .button-contact:hover {
  animation: zoon-in 0.8s alternate infinite;
}

@media screen and (max-width: 768px) {
  .header-content {
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .header-content i {
    margin-top: 16px;
    font-size: 34px;
  }
  .header-logo img {
    width: 160px;
    margin-top: 46px;
  }
  .header-button {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .header-slogan {
    min-height: 60vh;
  }
  h1 {
    font-size: 34px;
    padding: 0 14px;
    width: 100%;
  }
  p {
    font-size: 14px;
  }
}
@media screen and (max-width: 480px) {
  .header-slogan h1 {
    font-size: 24px;
  }
}
.about {
  background-color: #06121e;
  overflow: hidden;
  color: #fff;
}
.about .about-content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 14px;
  padding: 34px 14px 64px 14px;
}
.about .about-content div {
  flex: 1;
}
.about .about-content img {
  max-width: 560px;
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  padding: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.about .about-content .about-description h2 {
  font-size: 38px;
  margin-bottom: 24px;
}
.about .about-content .about-description p {
  margin-bottom: 14px;
  line-height: 150%;
}

@media screen and (max-width: 768px) {
  .about-content {
    flex-direction: column;
  }
}
.services {
  background-color: #fff;
  color: #232224;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 54px 14px;
}
.services .services-content h2 {
  text-transform: uppercase;
  text-align: center;
  font-size: 38px;
  margin-bottom: 14px;
}
.services .services-content p {
  line-height: 150%;
  margin-bottom: 34px;
  text-align: center;
  max-width: 780px;
}
.services .services-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  padding: 0 44px 34px 44px;
}
.services .services-list .services-item {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 -1px 17px -4px rgba(0, 0, 0, 0.45);
  overflow: hidden;
}
.services .services-list .services-item img {
  max-width: 354px;
  transition: transform 0.2s;
}
.services .services-list .services-item img:hover {
  transform: scale(1.2);
}
.services .services-list .services-item .services-info {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 14px;
  background-color: #fff;
  z-index: 1;
}
.services .services-list .services-item .services-info button {
  color: #fff;
  background-color: #d94140;
  padding: 4px 8px;
  border-radius: 4px;
  border: 0;
  cursor: default;
}

@media screen and (max-width: 768px) {
  .haircuts {
    flex-direction: column;
  }
}
.location {
  background-color: #fff;
  color: #232224;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.location h2 {
  margin-bottom: 14px;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 54px 0;
  gap: 24px;
  color: #fff;
}
footer .footer-icons {
  display: flex;
  gap: 18px;
}
footer .footer-icons i {
  color: #fff;
}
footer .footer-icons i:hover {
  color: #d94140;
}
footer .footer-logo {
  width: 140px;
  height: 140px;
}

.btn-whatsapp {
  position: fixed;
  bottom: 14px;
  right: 24px;
  z-index: 2;
  display: flex;
  align-items: center;
}
.btn-whatsapp img {
  max-width: 64px;
  transition: transform 0.4s;
}
.btn-whatsapp img:hover {
  transform: scale(1.1);
}

.tooltip {
  visibility: hidden;
  position: absolute;
  opacity: 0;
  transition: 0.3s;
  width: 160px;
  left: -165px;
  border-radius: 8px;
  padding: 4px;
  background-color: #232224;
  color: #fff;
  text-align: center;
}

.btn-whatsapp:hover .tooltip {
  visibility: visible;
  opacity: 1;
}

@media screen and (max-width: 768px) {
  .btn-whatsapp img {
    max-width: 54px;
  }
}/*# sourceMappingURL=index.css.map */